@using KenticoKontentModels
@model Location
@{
    ViewData["Title"] = "Cafes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Our Cafes in @Model.City</h1>

@foreach(Cafe cafe in Model.Cafes)
{
    @Html.ActionLink(@cafe.Name, Model.Url, "cafes", new {id = cafe.Url })
}
