@using KenticoKontentModels
@using Microsoft.AspNetCore.Mvc.Routing
@model List<NavigationItem>;
@{
    Layout = null;
}

@foreach (NavigationItem item in Model)
{
    <div>
        @item.Title<br />
        @item.customPath
    </div>
}

