@using KenticoKontentModels
@using Microsoft.AspNetCore.Mvc.Routing
@model List<NavigationItem>;
@{
    Layout = null;
}

@foreach (NavigationItem item in Model)
{
    <div>
        <b>Title: @item.Title</b><br />
         @item.customPath
    </div>
}

