@using KenticoKontentModels;
@model Location;

@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <h4>@Model.Name</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        @foreach(Cafe cafe in Model.Cafes)
        {
            <p>@cafe.Name;</p>
        }
    </div>
</div>