@using KenticoKontentModels; 
@model NavigationItem

@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <h4>@Model.Title</h4>
    </div>
</div>
<div class="row">
    @*<div class="col-sm-4">
        <img-asset asset="@Model.TeaserImage.First()" class="img-responsive" default-width="300">
            <media-condition min-width="769" image-width="300" />
            <media-condition min-width="330" max-width="768" image-width="689" />
        </img-asset>
    </div>*@
    <div class="col-sm-8">
        <ul>
            <li>
                Subitems:
                @foreach (NavigationItem item in Model.Subitems)
                {
                    <p>@item.Url;</p>
                }

            </li>
        </ul>
        
    </div>
</div>